nodered/src/flows/usb_reset.json
[
  {
      "id": "36aea947.75c1b6",
      "type": "inject",
      "z": "9c4d517c.685ac",
      "name": "reset trigger",
      "topic": "",
      "payload": "",
      "payloadType": "date",
      "repeat": "900",
      "crontab": "",
      "once": false,
      "onceDelay": 0.1,
      "x": 130,
      "y": 380,
      "wires": [
          [
              "4a95cdd1.a98ce4"
          ]
      ]
  },
  {
      "id": "4a95cdd1.a98ce4",
      "type": "bigexec",
      "z": "9c4d517c.685ac",
      "name": "usb-reset",
      "command": "./usbreset.sh",
      "commandArgs": "",
      "minError": 1,
      "minWarning": 1,
      "cwd": "",
      "shell": true,
      "extraArgumentProperty": "",
      "envProperty": "",
      "format": "utf8",
      "limiter": true,
      "payloadIs": "triggerNoStdin",
      "x": 320,
      "y": 380,
      "wires": [
          [
              "1d442676.97579a"
          ],
          [
              "1d442676.97579a"
          ],
          [
              "1d442676.97579a"
          ]
      ]
  },
  {
      "id": "1d442676.97579a",
      "type": "debug",
      "z": "9c4d517c.685ac",
      "name": "",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "x": 530,
      "y": 380,
      "wires": []
  }
]